.header {
  position: sticky;
  z-index: 999999;
  top: 0;

  align-items: center;
  justify-content: space-between;

  display: flex;

  padding: 20px 0 20px 59px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  background: linear-gradient(90.08deg, #8800ff -43.15%, #ffffff 42.77%);
}

.header__left-items {
  gap: 12px;
  align-items: center;

  display: flex;
}

.header__name {
  font-size: 32px;
  font-family: 'Gill Sans MT Condensed';
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.23em;

  color: var(--h1);
}
